aws_region            = "ap-southeast-2"
name_prefix           = "myorg"
networking_account_id = "111122224444"
organization_arn      = "arn:aws:organizations::111122220000:organization/o-exampleorgid"

hub_vpc_cidr        = "10.0.0.0/20"
spoke_supernet_cidr = "10.0.0.0/8"
az_count            = 2
transit_gateway_asn = 64512

flow_log_retention_days = 90

tags = {
  Owner      = "platform-team"
  CostCenter = "infra"
}
